COMPIA_MONGO_USERNAME=compia123
COMPIA_MONGO_PASSWORD=compia123
COMPIA_MONGO_HOST=mongo
COMPIA_MONGO_PORT=27017
COMPIA_MONGO_DB=compia_db

COMPIA_MONGO_URI="mongodb://${COMPIA_MONGO_USERNAME}:${COMPIA_MONGO_PASSWORD}@${COMPIA_MONGO_HOST}:${COMPIA_MONGO_PORT}/?authSource=admin"

COMPIA_ADM_UID=
